<div class="row">
  <div class="col-8">
    <h4 class="title">Designs</h4>
    <p class="desc">Add the designs for the widget and the bot</p>
  </div>
  <div class="col-4">
    <button type="button" (click)="confirmTheme()" class="btn btn-primary float-end whitespace-nowrap">
      Update Theme
    </button>
  </div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center mt-5">
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading" class="position-relative">
 
  <div class="mt-5">
    <div class="row g-4">
      <div class="col-12 col-xl-7">
        <div class="row g-3">
          <div class="col-12 col-sm-6 col-lg-6 col-xl-4" *ngFor="let circle of circleTitles">
            <div class="bg-choser">
              <div class="color-picker-container">
                <input [(colorPicker)]="userTheme[circle.key]" [ngStyle]="{
                    'background-color': backgroundColor(circle.title)
                  }" class="color-picker-input" (colorPickerChange)="onColorChange($event, circle.key)" />
              </div>
              <div class="text">{{ circle.title }}</div>
            </div>
          </div>
        </div>
        <!-- <label class="form-label mt-5">Bot Widget type</label>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="radio-wrapper">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  [(ngModel)]="widgetType"
                  (click)="preventChange($event,'floating')"
                  type="radio"
                  name="widgetType"
                  value="floating"
                  id="floating"
                />
                <label class="form-check-label" for="floating">
                  Floating
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  (click)="preventChange($event,'button')"
                  [(ngModel)]="widgetType"
                  class="form-check-input"
                  value="button"
                  type="radio"
                  name="widgetType"
                  id="button"
                />
                <label class="form-check-label" for="button"> Button </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  (click)="preventChange($event,'hyperlink')"
                  [(ngModel)]="widgetType"
                  value="hyperlink"
                  type="radio"
                  name="widgetType"
                  id="hyperlink"
                />
                <label class="form-check-label" for="hyperlink">
                  Hyperlink
                </label>
              </div>
            </div>
          </div>
        </div> -->
        <label class="form-label mt-4">Widget Position </label>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8">
            <div class="radio-wrapper">
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="widgetPosition" value="bottom-right"
                  (click)="updateWidgetPosition($event,'bottom-right')" type="radio" name="widgetPosition"
                  id="bottomRight" />
                <label class="form-check-label" for="bottomRight">
                  Bottom Right
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="widgetPosition" value="bottom-Left"
                  (click)="updateWidgetPosition($event,'bottom-left')" type="radio" name="widgetPosition"
                  id="bottomLeft" />
                <label class="form-check-label" for="bottomLeft">
                  Bottom Left
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="widgetPosition" value="top-right"
                  (click)="updateWidgetPosition($event,'top-right')" type="radio" name="widgetPosition" id="topRight" />
                <label class="form-check-label" for="topRight">
                  Top Right
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="widgetPosition" value="top-left"
                  (click)="updateWidgetPosition($event,'top-left')" type="radio" name="widgetPosition" id="topLeft" />
                <label class="form-check-label" for="topLeft"> Top Left </label>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-start mt-5 gap-4">
          <label class="form-label m-0">Remove Branding</label>
          <div class="form-group">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="removeBranding" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-start mt-5 gap-4">
          <label class="form-label m-0">Hide Chatbot Name</label>
          <div class="form-group">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="removeChatbotName" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-start mt-5 gap-4">
          <div class="bg-choser">
            <div class="form-group">
              <img class="avatar-img cursor-pointer" [src]="widgetImage" (click)="openModal()" />
              <!-- <img
                class="avatar-img cursor-pointer"
                [src]="widgetImage"
                (click)="fileInput.click()"
              />
              <input
                type="file"
                #fileInput
                class="d-none"
                (change)="onFileSelected($event, 'widget')"
                accept="image/*"
              /> -->
            </div>
            <div class="text">Widget Image</div>
          </div>
          <div class="bg-choser">
            <div class="form-group">
              <img class="avatar-img cursor-pointer" [src]="chatbotImage" (click)="fileInput2.click()" />
              <input type="file" #fileInput2 class="d-none" (change)="onFileSelected($event, 'chatbot')"
                accept="image/*" />
            </div>
            <div class="text">Chatbot Image</div>
          </div>
          <div class="bg-choser">
            <div class="form-group">
              <img class="avatar-img cursor-pointer" [src]="companyImage" (click)="fileInput3.click()" />
              <input type="file" #fileInput3 class="d-none" (change)="onFileSelected($event, 'company')"
                accept="image/*" />
            </div>
            <div class="text">Company Image</div>
          </div>
        </div>
        <div class="allows-text mt-2">Allows JPG,PNG. Max size 10MB.</div>

        <!-- <label class="form-label mt-5">Custom CSS</label>
        <div class="form-group">
          <textarea
            [(ngModel)]="customCSSLstring"
            readonly
            class="form-control w-50"
            rows="6"
          ></textarea>
        </div> -->
      </div>
      <div class="col-8 col-xl-5 d-sm-flex d-xl-block align-items-end">
        <section class="message-area position-xl-fixed">
          <div class="row">
            <div class="col-12">
              <div class="chat-area">
                <!-- chatbox -->
                <div class="chatbox">
                  <div class="modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="msg-head" [ngStyle]="{ 'background-color': backgroundColor('Widget Background') }">
                        <div class="row">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div class="flex-grow-1">
                                <img [src]="companyImage" class="companyImage" />
                                <h3 class="mt-3" *ngIf="!removeChatbotName">{{ userTheme?.chatbotName }}</h3>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <ul class="moreoption">
                              <li class="navbar nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                  aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a class="dropdown-item" href="#">Create new workflow</a>
                                  </li>
                                  <li>
                                    <a class="dropdown-item" href="#">
                                      Delete Chat</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="modal-body" [ngStyle]="{ 'background-color': backgroundColor('Chat Window') }">
                        <div class="msg-body">
                          <ul class="p-0">
                            <!-- <ng-container *ngFor="let message of conversation">
                        

                        <li class="repaly">
                          <div
                            class="d-flex flex-column align-items-start justify-content-center"
                          >
                            <p>
                              {{message?.question}}
                            </p>
                            <span class="time">10:36 AM</span>
                          </div>
                        </li>
                        <li class="sender">
                          <div
                            class="d-flex flex-column align-items-end justify-content-center message-bg"
                          >
                            <div *ngIf="message?.answer === '...'" class="spinner-border spinner-border-sm" role="status">
                            </div>
                            <p *ngIf="message?.answer != '...'">
                              {{message?.answer}}
                            </p>

                            <span class="time">10:06 AM</span>
                          </div>
                        </li>
                      </ng-container> -->
                            <li class="repaly">
                              <div class="d-flex flex-column align-items-start justify-content-center">
                                <p
                                  [ngStyle]="{ 'background-color': backgroundColor('User Background'), color: backgroundColor('User Font Color') }">
                                  Hello, how are you doing?</p>
                                <span class="time">10:36 AM</span>
                              </div>
                            </li>
                            <li class="sender">
                              <h3>{{ userTheme?.agentName }}</h3>
                              <div class="d-flex flex-column align-items-end justify-content-center">
                                <div class="d-flex align-items-start justify-content-center gap-2">
                                  <img [src]="chatbotImage" class="chatbot-icon" />
                                  <p
                                    [ngStyle]="{ 'background-color': backgroundColor('Bot Background'), color: backgroundColor('Bot Font Color') }">
                                    I’m doing well, thank you! How can I help
                                    you today?
                                  </p>
                                </div>
                                <span class="time">10:06 AM</span>
                              </div>
                            </li>
                            <li class="repaly">
                              <div class="d-flex flex-column align-items-start justify-content-center">
                                <p
                                  [ngStyle]="{ 'background-color': backgroundColor('Bot Background'), color: backgroundColor('Bot Font Color') }">
                                  I have a question about the return policy for
                                  a product I purchaseed
                                </p>
                                <span class="time">10:36 AM</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="chat-input-wrapper"
                        [ngStyle]="{ 'background-color': backgroundColor('Chat Window') }">
                        <div class="chat-input">
                          <!-- <img src="assets/icons/microphone-2.svg" class="icon-left" /> -->
                          <input type="text" placeholder="Say something......." readonly disabled />
                          <div class="icons-right">
                            <!-- <img src="assets/icons/gallery.svg" /> -->
                            <img class="send-icon" src="assets/icons/send.svg" />
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!removeBranding" class="branding-wrapper" [ngStyle]="{ 'background-color': backgroundColor('Chat Window') }">
                        <p>Powered by Distinct Cloud Labs</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Widget Modal -->
<ng-container *ngIf="isModalOpen">
  <div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Widget Image</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Predefined Widget Images -->
          <div class="row justify-content-center">
            <div class="text-modal text-center mb-3">Select a Widget Image</div>
            <div class="col-3 col-lg-2 " *ngFor="let img of widgetImages">
              <div class="bg-choser border justify-content-center" [class.selected]="selectedImage === img">

                <img [src]="img" class="avatar-img cursor-pointer" (click)="selectImage(img)" />
              </div>
            </div>
          </div>


          <!-- Upload Custom Image -->
          <div class="d-flex flex-column align-items-center mt-5 mb-3">
            <div class="bg-choser border">
              <img class="avatar-img cursor-pointer" [src]="widgetImage" (click)="fileInput.click()" />
              <input type="file" #fileInput (change)="onFileSelected($event, 'widget')" class="d-none" />
              <div class="text">Upload Custom Widget Image</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</ng-container>
