<div>
  <div class="row">
    <div class="col-4">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
        <div class="col-12">
          <div class="mb-3">
            <label for="currentPassword" class="form-label"
              >Current Password</label
            >
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              placeholder="Current Password"
              formControlName="currentPassword"
              [ngClass]="{ 'is-invalid': hasError('currentPassword') }"
            />
            <div class="invalid-feedback">Current Password is required</div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              placeholder="New Password"
              formControlName="newPassword"
              [ngClass]="{ 'is-invalid': hasError('newPassword') }"
            />
            <div class="invalid-feedback">New Password is required</div>
          </div>
        </div>

        <div class="col-12 mt-4">
          <button
            type="submit"
            class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-2"
            [disabled]="loading"
          >
            <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
