<div appClickOutside (clickOutside)="closeDropdown()">
  <div class="main-container"  [ngStyle]="{ width: fullWidth ? '100%' : 'fit-content' }" (click)="!disabled && toggleDropdown()">
    <div class="selected-country justify-content-space-between"
    [ngClass]="{ 'full-width': fullWidth, 'integrated-phone': customClass === 'integrated-phone', 'disabled': disabled }"
    [ngStyle]="{ width: fullWidth ? '100%' : '100px' }">
    <div class="d-flex align-items-center" *ngIf="loadingIp">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ng-container *ngIf="!loadingIp">
      <span *ngIf="!selectedCountry">Select a country</span>
      <span class="d-flex align-items-center" *ngIf="selectedCountry">
        <img
          [src]="selectedCountry.image"
          class="flag"
          alt="{{ selectedCountry.name }} flag"
        />
        <!-- <span *ngIf="!fullWidth" class="selected-code">{{ selectedCountry.phone[0] }}</span> -->
        <span class="selected-code">{{ selectedCountry.phone[0] }}</span>
      </span>
      <span class="arrow">
        <ng-container *ngIf="dropdownOpen">
          <i class="fa-solid fa-angle-up"></i>
        </ng-container>
        <ng-container *ngIf="!dropdownOpen">
          <i class="fa-solid fa-angle-down"></i>
        </ng-container>
      </span>
    </ng-container>
    </div>
    <div
      class="dropdown"
      [ngStyle]="{ width: fullWidth ? '100%' : '350px' }"
      *ngIf="dropdownOpen"
      (click)="$event.stopPropagation()"
    >
      <input
        type="text"
        placeholder="Search country"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
      <div class="dropdown-item-container">
        <div
          class="dropdown-item"
          *ngFor="let country of filteredCountries"
          (click)="selectCountry(country)"
        >
          <img
            [src]="country.image"
            class="flag"
            alt="{{ country.name }} flag"
          />
          <span class="name">{{ country.name }}</span>
          <span class="code">({{ country.phone[0] }}) </span>
          <span class="code"> - {{ country.iso['alpha-2'] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
