.main-container {
  position: relative;
  cursor: pointer;
  user-select: none;
  // width: fit-content;
}

.selected-country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  padding: 10px;
  outline: none;
  position: relative;
  // width: 100px;
  background: #ffffff;
  &.full-width {
    border-right: 1px solid #ced4da;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.dropdown {
  width: 350px;
  max-width: 60vw;

  position: absolute;
  background-color: #fff;
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  top: 100%;
  left: 0;
  padding: 8px;
  cursor: default;
  overflow-x: hidden;
  box-shadow: 0px 12px 41px 0px rgba(108, 119, 138, 0.3);
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--border);
}

.dropdown-item-container {
  margin-top: 8px;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #1e1e1e;
  color: #ffffff;
}

.flag {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.name {
  margin-right: 8px;
}

.arrow {
  position: absolute;
  right: 10px;
}

.selected-code {
  font-size: 14px;
}
