
.text-bg-primary {
    color: var(--brand-black) !important;
    background-color: #ffffff !important;
    border: 1px solid var(--brand-yellow) !important;
    i{
        color: #dc3545 !important;
        cursor: pointer;
    }
}