<nav class="navbar navbar-expand-lg bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/icons/milo-logo.svg"style="height: 30px;"  alt="Logo" class="d-inline-block align-text-top" />
    </a>

    <button class="btn btn-primary" routerLink="/signup">SIGN UP</button>
  </div>
</nav>

<div class="container">
  <div class="vh-90 row justify-content-center align-items-center">
    <div class="d-none d-lg-block col-lg-8">
      <div class="d-flex flex-column justify-content-center align-items-start gap-3 left-section">
        <h2>
          Grow your Ecommerce<br />
          sales with <span>AI agents</span>
        </h2>
      </div>
    </div>
    <div *ngIf="!otpSuccess" class="col-12 col-lg-4">
      <div class="right-section">
        <!-- <img class="logo-img" src="assets/icons/milo-logo.svg" alt="Milo Logo" /> -->
        <div class="title-wrapper">
          <h2 class="title">Forgot your password</h2>
          <p class="desc">
            Enter your email address and we'll send you the code
          </p>
        </div>

        <div class="form-wrapper">
          <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="user-form">
            <div class="input-field mb-4">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email address"
                formControlName="email" [ngClass]="{ 'is-invalid': hasError('email') }" />

              <div class="invalid-feedback text-start">Email is required</div>
            </div>

            <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-1"
              [disabled]="loading">
              <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Reset password <img src="assets/icons/arrow-right.svg" />
            </button>

            <p class="note">
              <a routerLink="/login">Back to login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="otpSuccess" class="col-12 col-lg-4">
      <div class="right-section">
        <img class="logo-img" style="height: 30px;"  src="assets/icons/milo-logo.svg" alt="Milo Logo" />
        <div class="title-wrapper">
          <h2 class="title">Reset your password</h2>
          <p class="desc">
            Enter reset code, your email address and new your password
          </p>
        </div>

        <div class="form-wrapper">
          <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()" class="user-form">
            <div class="col-12">
              <div class="mb-3">
                <label for="otp-button" class="form-label">Otp</label>
                <ng-otp-input #ngOtpInput [config]="config" (onInputChange)="onOtpChange($event)" id="otp-button"
                  [formCtrl]="code"></ng-otp-input>
              </div>
            </div>
            <div class="input-field mb-3">
              <label for="email2" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email2" placeholder="Enter your email address"
                formControlName="email" [ngClass]="{ 'is-invalid': hasError2('email') }" />

              <div class="invalid-feedback text-start">Email is required</div>
            </div>
            <div class="input-field mb-4">
              <label for="newPassword" class="form-label">New password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password"
                formControlName="newPassword" [ngClass]="{ 'is-invalid': hasError2('newPassword') }" />

              <div class="invalid-feedback text-start">
                New Password is required
              </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center gap-1"
              [disabled]="loading">
              <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Reset password
              <img src="assets/icons/arrow-right.svg" />
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>