.invalid-otp {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}

.auth-content {
  min-height: 100vh;
  background: #f5f6f7;
  display: grid;
  place-items: center;
}

.left-section {
  h2 {
    font-size: 44px;
    font-weight: 500;
    color: #072032;
    line-height: 54px;
    span {
      color: var(--brand-yellow);
    }
  }
  img {
    width: 582px;
    height: 328px;
    object-fit: cover;
    cursor: pointer;
  }
}
.right-section {
  background-color: #f3f5f2;
  color: #1e1e1e;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 16px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0 12px 30px rgba(0,0,0,.35);
  .logo-img {
    width: 130px;
    height: 50px;
    // object-fit: cover;
  }
  .forgot-text {
    color: var(--brand-yellow);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .title-wrapper {
    .title {
      font-size: 24px;
      font-weight: 700;
      color: #1e1e1e;
      line-height: 28px;
      margin-bottom: 8px;
    }
    .desc {
      font-size: 12px;
      font-weight: 400;
      color: #1e1e1e;
      margin: 0;
    }
  }
  .note {
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: 16px;
    text-align: center;
    a {
      color: var(--brand-yellow);
      text-decoration: none !important;
    }
  }
  .policy-field {
    display: flex;
    align-items: center;
    gap: 5px;
    label {
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      a {
        color: var(--brand-yellow);
        text-decoration: none !important;
      }
    }
  }
}
